body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Base styles for the navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

nav img {
  height: 40px; /* Adjust size of the logo */
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  position: relative;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-image: linear-gradient(
    to top,
    #d5dee7 0%,
    #ffafbd 0%,
    #c9ffbf 100%
  );
  bottom: 0;
  left: 0;
  top: 20px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav ul li {
    margin: 10px 0; /* Space between menu items in vertical layout */
  }
}

@media (max-width: 480px) {
  nav {
    padding: 10px;
  }

  nav img {
    height: 30px; /* Adjust logo size for smaller screens */
  }

  nav ul li a {
    font-size: 14px;
  }
}
